@import 'tailwindcss';

/* Suisse Intl Font Family */
@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-RegularIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/font/Suisse-Intl/SuisseIntl-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Suisse Intl Mono Font Family */
@font-face {
  font-family: 'Suisse Intl Mono';
  src:
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Thin-WebXL.woff2') format('woff2'),
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Thin-WebXL.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src:
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Regular-WebXL.woff2') format('woff2'),
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Regular-WebXL.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src:
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Bold-WebXL.woff2') format('woff2'),
    url('/font/Suisse-Intl-Mono/SuisseIntlMono-Bold-WebXL.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Custom Colors */
  --primary: #f04a00;
  --background: #ffffff;
  --background-main: #ffffff;
  --background-100: #e7e5e4;
  --background-200: #fafaf9;
  --foreground: #1c1917;
  --foreground-main: #1c1917;
  --foreground-100: #292524;
  --foreground-200: #a8a29e;
}

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-background-main: var(--background-main);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-foreground: var(--foreground);
  --color-foreground-main: var(--foreground-main);
  --color-foreground-100: var(--foreground-100);
  --color-foreground-200: var(--foreground-200);
  --font-main: 'Suisse Intl';
  --font-second: 'Suisse Intl Mono';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Suisse Intl', serif;
}

/* Prevent scrolling during loading overlay */
body.loading-no-scroll {
  overflow: hidden;
  height: 100vh;
}
